<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         
       
    </head>
    <body>

            <a href="/">home</a>
            <a href="/player">player</a>
            <a href="/equipe">equipe</a>
            <br>    


        {% block body %}
         
        {% endblock %}



 



    </body>
</html>
