<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         
       
    </head>
    <body>

            Navbar  <br>    


        {% block body %}
        jbdskbdsdbskdbsd
        
        {% endblock %}




            footer  <br>    




    </body>
</html>
