{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
 
<h1>Edit un equipe </h1>


{{ form_start(form) }}
{{ form_widget(form) }}

<input type="submit">

{{ form_end(form) }}




{% endblock %}
